*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", Calibri,'Trebuchet MS', sans-serif;
    font-size: 14px;

    background-color: #354f52;
    color: #cccccc;
    letter-spacing: +0.5px;
}

h1 {
    margin-bottom: 5%;
    font-size: 3em;
}

h2 {
    margin: 20px 0;
    font-size: 2em;
}

h3 {
    margin: 10px 0;
    font-size: 1em;
}

a {
    font-weight: 600;
    color: #cccccc;
    /* removes underline from links */
    text-decoration: none; 
}


/* Nav Styling */

header{
    margin: 0;
    padding: 0;
    background-color: #1a2729;
    width: 200px;
    position: fixed;
    height: 100%;
}

.container-nav{
    /* makes container height same as display height */
    height: 100vh;
    /* makes items flex items */
    display: flex;
    /* aligns vertically */
    flex-direction: column;
    /* aligns items in the center */
    justify-content: center;

}

.container-nav a {
    /* spaces out text vertically */
    line-height: 300%;
    padding: 10px;
    color: #cccccc;
    text-transform: uppercase;
}

/* on hover changes background colour */
a:hover {
    color: #354f52;
}

/* whole page styling */

main {
    /* moves content over so not convered by nav */
    margin-left: 200px;
}

.content {
    /* adds white spacing around content containers */
    padding: 20px 40px;
}

.container {
    /* addds spacing at bottom of containers */
    margin-bottom: 40px;
/* padding inside container */
    padding: 40px;
    background-color: #1a2729;

    /* sets min height of container to 80% view height */
    /* min-height: 80vh; */
}

/* Coding Worksheets */

.worksheets-flex {
    /* display flex to make content align vertically */
    display: flex;
}

.links {
    display: flex;
    /* display links vertically */
    flex-direction: column;
    /* aligns to right */
    margin-right: auto;
    /* distributes items vertically equally */
    justify-content: space-around;
    min-width: 120px;
    margin-left: 20px;
}

.links button {
    border: 2px solid #cccccc;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
    border-radius: 3px;
    background-color: #1a2729;
    color: #cccccc;
    font-size: 16px;
}

/* on hover button changes colour & animates on click */
button:hover {
    background-color: #354f52;
}

button:active {
    box-shadow: 0 5px #cccccc;
    transform: translateY(4px);
}

/* CARP */

.carp-card {
    display: flex;
}

.carp-text-container {
    margin: 20px 20px 20px 0;
    padding: 20px;
}


.carp-img-container img{
    max-height: 65vh;
}

.left {
    margin-right: 40px;
}

.right {
    margin-left: 40px;
}


/* Typography */

.typo-flex {
    /* display flex so cards can align next to each other */
    display: flex;
    flex-wrap: wrap;
}

.typo-card {
    max-width: 50%;
}

.typo-card-content p {
    padding-right: 5px;
    padding-bottom: 10px;
}

.typo-img-container {
    padding: 10px 10px 10px 0px;
    display: flex;
}

.typo-card-content img {
    max-width: 100%;
    justify-content: center;
    display: flex;
}

.ref-img{
    max-height: 300px
}

footer {
    margin-left: 200px;
    
}

footer p {
    justify-content: center;
    display: flex;
    padding: 10px;
    background-color: #1a2729;
}

/* changes layout to column when screen is less than 1000px */
@media screen and (max-width: 1000px) {
    .carp-card {
        flex-direction: column;
    }

    .left {
        margin: 0 auto;
    }

    .right {
        margin: 0 auto;
        
    }

    .carp-rev {
        flex-direction: column-reverse;
    }

    .typo-flex {
        flex-direction: column;
        
    }
    .typo-card {
        max-width: 100%;
    }

}